#diary-page {
  .last-item {
    padding: 20vh;
    background: var(--ion-background-color, #fff);
  }

  .empty-item {
    padding-top: 20vh;
    background: var(--ion-background-color, #fff);
  }

  .bulkhead {
    padding: 12px;
    background: var(--ion-background-color);
  }

  .border-full {
    ion-item {
      border-left: 1px solid
        var(
          --ion-item-border-color,
          var(
            --ion-border-color,
            var(--ion-color-step-150, rgba(0, 0, 0, 0.13))
          )
        );

      border-right: 1px solid
        var(
          --ion-item-border-color,
          var(
            --ion-border-color,
            var(--ion-color-step-150, rgba(0, 0, 0, 0.13))
          )
        );
    }

    ion-item-divider {
      border-top: 1px solid
        var(
          --ion-item-border-color,
          var(
            --ion-border-color,
            var(--ion-color-step-150, rgba(0, 0, 0, 0.13))
          )
        );

      border-left: 1px solid
        var(
          --ion-item-border-color,
          var(
            --ion-border-color,
            var(--ion-color-step-150, rgba(0, 0, 0, 0.13))
          )
        );

      border-right: 1px solid
        var(
          --ion-item-border-color,
          var(
            --ion-border-color,
            var(--ion-color-step-150, rgba(0, 0, 0, 0.13))
          )
        );
    }

    ion-item:first-child {
      border-top: 1px solid
        var(
          --ion-item-border-color,
          var(
            --ion-border-color,
            var(--ion-color-step-150, rgba(0, 0, 0, 0.13))
          )
        );
    }

    ion-item:last-child {
      border-bottom: 1px solid
        var(
          --ion-item-border-color,
          var(
            --ion-border-color,
            var(--ion-color-step-150, rgba(0, 0, 0, 0.13))
          )
        );
      --inner-border-width: 0;
    }
  }

  ion-list.list-md {
    padding: 0px;
  }

  ion-item-divider.top-divider {
    border-bottom: 1px solid
      var(
        --ion-item-border-color,
        var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.01)))
      );
  }

  ion-item {
    ion-label {
      border-left: 2px solid var(--ion-color-medium);
      padding-left: 10px;
    }
  }

  ion-segment-button {
    text-transform: none;
    ion-label {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
