#diary-page {
  .last-item {
    padding: 20vh;
    background: var(--ion-background-color, #fff);
  }

  .empty-item {
    padding-top: 15vh;
    background: var(--ion-background-color, #fff);
  }

  .bulkhead {
    padding: 12px;
    background: var(--ion-background-color);
  }

  .border-full-2 {
    border: 1px solid
      var(
        --ion-item-border-color,
        var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
      );

    ion-item:last-child {
      --inner-border-width: 0;
      --border-width: 0 0 0 0;
    }
  }

  ion-list.list-md {
    padding: 0px;
  }

  ion-item-divider.top-divider {
    border-bottom: 1px solid
      var(
        --ion-item-border-color,
        var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.01)))
      );
  }

  ion-item {
    ion-label.success {
      border-left: 2px solid var(--ion-color-success);
      padding-left: 10px;
    }
    ion-label.warning {
      border-left: 2px solid var(--ion-color-warning);
      padding-left: 10px;
    }
    ion-label.danger {
      border-left: 2px solid var(--ion-color-danger);
      padding-left: 10px;
    }
  }

  ion-segment-button {
    text-transform: none;
    ion-label {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
