.list-page {
  .list-card {
    display: flex;
    flex-direction: column;
  }

  /* Due to the fact the cards are inside of columns the margins don't overlap
   * properly so we want to remove the extra margin between cards
   */
  ion-col:not(:last-of-type) .list-card {
    margin-bottom: 0;
  }

  .list-card .list-item {
    --min-height: 85px;
  }

  .list-card .small {
    --min-height: 60px;
  }

  .list-card .list-item h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .list-card .list-item p {
    font-size: 13px;
    letter-spacing: 0.02em;
  }

  .list-card ion-card-header {
    padding: 0;
  }

  .list-card ion-card-content {
    flex: 1 1 auto;

    padding: 0;
  }

  .ios ion-list {
    margin-bottom: 10px;
  }

  .md ion-list {
    border-top: 1px solid var(--ion-color-step-150, #d7d8da);

    padding: 0;
  }
}

ion-router-outlet {
  ion-content {
    --ion-item-background: #ffffff;
    --ion-card-background: #ffffff;
    --ion-background-color: var(--ion-color-light);

    @media (prefers-color-scheme: dark) {
      --ion-item-background: #1c1c1d;
      --ion-card-background: #1c1c1d;
      --ion-background-color: #131313;
    }
  }
}

