.list-page {
  .list-card {
    display: flex;
    flex-direction: column;
  }

  /* Due to the fact the cards are inside of columns the margins don't overlap
   * properly so we want to remove the extra margin between cards
   */
  // ion-col:not(:last-of-type) .list-card {
  //   margin-bottom: 0;
  // }

  .list-card .list-item {
    --min-height: 85px;
  }

  .list-card .small {
    --min-height: 60px;
  }

  .list-card .transparent {
    --background: none;
  }

  .list-card .list-item h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .list-card .list-item p {
    font-size: 13px;
    letter-spacing: 0.02em;
  }

  .list-card ion-card-header {
    padding: 0;
  }

  .list-card ion-card-content {
    flex: 1 1 auto;

    padding: 0;
  }

  .ios ion-list {
    margin-bottom: 10px;
  }

  .md ion-list {
    border-top: 1px solid var(--ion-color-step-150, #d7d8da);

    padding: 0;
  }
}

ion-router-outlet,
ion-modal,
.list-page {
  ion-content,
  ion-footer {
    --ion-item-background: #ffffff;
    --ion-card-background: #ffffff;
    --ion-background-color: var(--ion-color-light);

    @media (prefers-color-scheme: dark) {
      --ion-item-background: #1c1c1d;
      --ion-card-background: #1c1c1d;
      --ion-background-color: #131313;
    }
  }
}

.flat-list {
  padding: 0;
  border-radius: 4px !important;
  border: 1px solid
    var(
      --ion-item-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    );
}

.social-login-btn {
  min-height: 70px;
  max-width: 500px;
  border-bottom: 3px solid var(--ion-color-primary-tint);
  ion-title {
    margin-top: 24px;
    margin-left: 48px;
    font-size: var(--ion-font-size-14);
    padding: 0;
  }
  ion-icon {
    font-size: 24px;
    top: 22px;
    left: 13px;
    position: absolute;
  }
}

.report-modal {
  --min-height: 100vh;
  --min-width: 100vw;
}

.stat {
  /* Center the content */
  align-items: center;
  display: inline-flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid
    var(
      --ion-item-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    );
  padding: 10px;
  margin: 5px 5px;
}

.stats__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5px;
}

.stat__value {
  /* Big font size */
  font-size: 4rem;
  font-weight: 500;
}

.stat__label {
  /* Smaller font size */
  font-size: 1rem;
  font-weight: 700;

  /* Uppercase the label */
  text-transform: uppercase;
}

.options__container {
  border: 1px solid
    var(
      --ion-item-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    );

  margin: 5px 10px;

  ion-item:last-child {
    --inner-border-width: 0;
    --border-width: 0 0 0 0;
  }
}

ion-slides {
  height: calc(100% - 45px);
}

ion-col {
  padding: 0;
}

.loading-wrapper {
  border-radius: 9999px !important;
}

.border-full {
  border-radius: 4px !important;
  border: 1px solid
    var(
      --ion-item-border-color,
      var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))
    );
}

.fadin {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.calendar-swapper {
  color: #000;
}

.firebase-emulator-warning {
  display: none;
}

ion-list {
  ion-item:last-child {
    --inner-border-width: 0;
    --border-width: 0 0 0 0;
  }
}

.preview {
  --size: 128px;
  margin: 4px;
}

.cover {
  object-fit: cover;
  height: 256px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.image__container {
  position: relative;
}

.image__middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image__container:hover .cover {
  opacity: 0.3;
}

.image__container:hover .image__middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.notification-button {
  position: relative;
  width: 42px;
  top: 1px;
  right: 1px;
  overflow: visible !important;
}

.notifications-badge {
  position: absolute;
  top: -3px;
  right: -3px;
  font-size: 5px;
  width: 5px;
  height: 5px;
}

.ais-Hits {
  ul {
    list-style-type: none;
    padding-inline-start: 0.02em;
  }
}
